<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="TurismoReceptivoEntities1" connectionString="metadata=res://*/TurismoReceptivoModel.csdl|res://*/TurismoReceptivoModel.ssdl|res://*/TurismoReceptivoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NOTEBOOK-BGH\SQLEXPRESS;Initial Catalog=TurismoReceptivo;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="TurismoReceptivoEntities" connectionString="metadata=res://*/TurismoReceptivoModel.csdl|res://*/TurismoReceptivoModel.ssdl|res://*/TurismoReceptivoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DANIEL-PC\SQLEXPRESS;Initial Catalog=TurismoReceptivo;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>